.main {
  background-image: url(../images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 800px;
  padding: 56px 103px 53px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 48px 40px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 48px 20px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    height: 508px;
  }
}

.main__left {
  padding-top: 112px;
}

@media screen and (max-width: 930px) {
  .main__left {
    padding-top: 0;
  }
}

@media screen and (max-width: 930px) {
  .main__right {
    display: none;
  }
}

.main__left-text {
  font-size: 78px;
  line-height: 100%;
  text-transform: uppercase;
  color: #052e4c;
}

@media screen and (max-width: 768px) {
  .main__left-text {
    font-size: 42px;
  }
}

.main__left > p {
  margin: 24px 0 48px 0;
  width: 477px;
  font-size: 16px;
  line-height: 21px;
  color: #052e4c;
}

@media screen and (max-width: 610px) {
  .main__left > p {
    width: auto;
  }
}
